html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

#root {
  max-width: 100% !important;
}